@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

/* 
@font-face{
    font-family: Montserrat-medium;
    src: url('../src/assets/fonts/Montserrat-SemiBold.ttf');  

}

@theme{
    --font-montserrat-medium:Montserrat-medium,"sans-serif";
} */

* {
  font-family: 'Montserrat', sans-serif;
}

.Toastify__toast {
  font-family: 'Montserrat', sans-serif;
  min-height: unset;
  line-height: 1.2;
  font-size: 14px;
}

.custom-phone-input::placeholder {
  color: #bbc0c3;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #009bdf;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #009bdf;
}
